.root {
    -fx-background-color: #404040;
    /*-fx-background-color: red;*/
    -fx-accent: #1494af;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #a2a2a2;
    -fx-text-fill: black;
}

.scroll-bar {
    -fx-background-color: grey;
}

.scroll-bar .thumb {
    /*-fx-border-color: -fx-accent;*/
    -fx-background-color: #7cafb7;
}

.scroll-bar .thumb:hover {
    /*-fx-border-color: -fx-accent;*/
    -fx-background-color: #6d9ca1;
}

.scroll-bar .thumb:pressed {
    /*-fx-border-color: -fx-accent;*/
    -fx-background-color: #567b80;
}

.label, .button, .menu {
    -fx-font-family: "Roboto", monospace;
}

.menu-bar .menu {
    -fx-text-fill: black;
}